<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/change_password.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Change password</title>
</head>

<body>
    <div class="fade-in"></div>
    <header>
        <div id="logoContainer">
            <img src="img/login/logo.png" alt="image du logo easy club manager" width="400px">
        </div>
        <div class="navContainer">
            <ul id="navList">
                <li class="navItem"><a href="/dashboard" class="navLink">CLUBS</a></li>
                <li class="navItem"><a href="/updateprofile" class="navLink">PROFILE</a></li>
                <li class="navItem"><a href="/logout" class="navLink">LOGOUT</a></li>
                <li class="navItem"><a href="/deleteuser" class="navLink">QUIT</a></li>
            </ul>
            <div id="picContainer"><img src="{{ userDisplayablePic }}" alt="votre photo de profil" width="50px"
                    height="50px"></div>
        </div>
        </div>
    </header>
    <main>
        <div id="speechContainer">
            <h1>{{ user.firstname }} remplissez le formulaire ci-dessous pour changer de mot de passe</h1>
            {# Nous affichons les erreurs ici #}
            {% if error is defined and error is not empty %}
            <div class="errorMsg">
                {% for errorMessage in error %}
                <p>{{ errorMessage }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="formContainer">
            <img src="img/change_password/password_window.png" alt="formulaire de changement de mot de passe">
            <form action="/changepassword" method="post">
                <input type="password" name="oldPassword" id="oldPassword" class="formField" placeholder="Your password"
                    style="font-family: Roboto, sans-serif;">
                <input type="password" name="newPassword" id="newPassword" class="formField" placeholder="New password"
                    style="font-family: Roboto, sans-serif;">
                <input type="password" name="newPasswordConfirm" id="newPasswordConfirm" class="formField"
                    placeholder="Confirm new" style="font-family: Roboto, sans-serif;">
                <button type="submit" id="btnPwdChange" class="formButton"
                    style="font-family: Roboto, sans-serif;">CHANGE</button>
            </form>
        </div>
    </main>
    <footer>
        <div id="footerContainer">
            <p>© 2024 Easy Club Manager</p>
        </div>
    </footer>
    <script>
        window.onload = function () {
            setTimeout(function () {
                document.querySelector('.fade-in').classList.add('hidden');
            }, 300); // Sort la div du fade in du flux au bout de 0.3s
        }
    </script>
    <script src="js/dashboard.js"></script>
</body>

</html>